#canvasdiv {
	margin-left: auto;
	margin-right: auto;
	margin-top: 6rem;
	margin-bottom: 2rem;
	padding : auto;
	display: block;
	border-color:black;
	border-style:solid;
	border-width:5px;
	position:relative;
}

#canvasimg{
	z-index: -1;
	position:absolute;
	left: 0;
	top: 0;
}

#canvas {
	opacity: 0.6;
}

#body {
	background-color: rgb(80,80,80);
	text-align:center;
	margin:auto;
}

#buttons {
	color:white;
}

#top-buttons {
	display:flex;
	justify-content: space-between;
	margin-top:2rem;
}

#bottom-buttons {
	display:flex;
	justify-content: space-between;
	margin-bottom:3rem;
}

#size-select{
	display:flex;
	flex-direction: row;
	align-items:center;
	margin-top:1.5rem;
	margin-bottom:.75rem;
	float:right;
}

#size-select div{
	background-color: black;
	margin:auto;
}

#size-select label{
	height:3rem;
	display:flex;
	align-items: center;
	flex-grow: 0;
}

.size1{
	width:1.2rem;
	height:1.2rem;
	border-radius:1.2rem;
}

.size2{
	width:1.7rem;
	height:1.7rem;
	border-radius:1.7rem;
}

.size3{
	width:2.2rem;
	height:2.2rem;
	border-radius:2.2rem;
}

#cursor{
	width:7px;
	height:7px;
	border-style:dashed;
	border-radius:7px;
	border-width:2px;
	position:absolute;
	pointer-events: none;
	border-color: rgba(200,200,200,0.8);
}

#canvas:hover{
	cursor:none;
}